# krpano Files
krpanotools/.DS_Store
krpanotools/._.DS_Store
krpanotools/kmakemultires
krpanotools/krpanotools.license
krpanotools/krpanoiphone.license.js

krpano_plugins/.DS_Store
krpano_plugins/._.DS_Store
krpano_plugins/combobox.js
krpano_plugins/combobox.swf
krpano_plugins/editor.swf
krpano_plugins/fireworks.swf
krpano_plugins/fps.swf
krpano_plugins/googlemaps.swf
krpano_plugins/gyro.js
krpano_plugins/krpano_default_flares.jpg
krpano_plugins/krpano_logo.png
krpano_plugins/moretweentypes.js
krpano_plugins/moretweentypes.swf
krpano_plugins/options.swf
krpano_plugins/radar.js
krpano_plugins/radar.swf
krpano_plugins/snow.swf
krpano_plugins/soundinterface.js
krpano_plugins/soundinterface.swf
krpano_plugins/textfield.swf
krpano_plugins/videoplayer.js
krpano_plugins/videoplayer.swf

krpano/.DS_Store
krpano/._.DS_Store
krpano/krpano.swf
krpano/krpano.license
krpano/swfkrpano.js
krpano/krpanoiphone.js


# IDE Eclipe
.buildpath
.project
.settings
.externalToolBuilders

# Netbeans
nbproject

# vim
*.swp


# Cache Files ?
._*

# Mac OS
.DS_Store
._.DS_Store
/fancybox/jquery.fancybox.pack.js
/fancybox/jquery.fancybox.css
/fancybox/jquery.fancybox.js
/fancybox/helpers/
/fancybox/blank.gif
/fancybox/fancybox_sprite.png
/fancybox/fancybox_loading.gif
/krpano_plugins/dblclick.js
/krpano_plugins/dblclick.swf
/krpano_plugins/bingmaps.swf
/krpano_plugins/compass.js
/krpano_plugins/bingmaps.js
/krpano_plugins/vtoureditor.swf
/krpano_plugins/scrollarea.js
/krpano_plugins/scrollarea.swf
/krpano/swfkrpano.init.js
/krpano_plugins/bingmaps.license.xml
/krpano/embedpano.js
/krpano/krpano.js
/krpano/krpano-old.swf
/krpano/krpanoiphone-old.js
/krpano/swfkrpano-old.js
/krpano_plugins/googlemaps.js
/krpano_plugins/snow.js
/krpano_plugins - copie/
/krpano/krpano-demo.js